@import 'tailwindcss';

@theme {
  --color-main: #FBFBF3;
  --color-sub: #534B45;
  --color-sub2: #9B7859;

}

body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-base {
    font-size: 18px;
    font-weight: 400;
  }
  .text-header {
    font-size: 28px;
    font-weight: 700;
  }
}

.main-com-font{
  color: #000;
font-family: Pretendard;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 120%;
}

.com-title{
  color: #000;
font-family: Pretendard;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 33.6px */
}

.com-searchbar{
  display: flex;
width: 739px;
height: 48px;
padding: 9px 24px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid var(--Main-2, #534B45);
background: var(--White, #FFF);
}

.com-button{
width: 24px;
height: 24px;
flex-shrink: 0;
aspect-ratio: 1/1;
}

.com-edu-go{
  color: #000;
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
padding-bottom: 16px;
}

.com-edu-button{
  width: 78px;
  height: 40px;
  display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 30px;
background: var(--Main, #9B7859);
color: var(--White, #FFF);
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 120%; 
}

.font-pretendard {
  font-family: 'Pretendard', sans-serif;
}


.coupon{
  display: flex;
padding: 0 14px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
margin-top: 24px;
margin-left: 24px;
}

.coupon-design {
  background-color: #A57B57;
  border-radius: 0.75rem; 
  height: 48px;
  width: 100%; 
  color: #FFF; 
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
